*{
  padding: 0;
  margin: 0;
}
header{
  
}

main{
  font-family: helvetica;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 60%;
  /* padding: 40px; */
  /*VIEWPORT WIDTH: => RELATIVO AO TAMANHO TOTAL DA TELA*/
  /*
  % = TAMANHO RELATIVO AO TAMANHO DO PAI "TAG"
  */
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
    width: 40%;
    /* padding: 40px; */
}

article{
  margin: 10px 0;
}

